version: '3.7'

services:
  kratos-migrate:
    image: oryd/kratos:latest-sqlite
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - type: volume
        source: kratos-sqlite
        target: /var/lib/sqlite
        read_only: false
      - type: bind
        source: ./.kratos/config
        target: /etc/config/kratos
    command:
      -c /etc/config/kratos/.kratos.yml migrate sql -e --yes
    restart: on-failure
    networks:
      - intranet

  kratos-ss-ui-react:
    image: "node:lts-alpine"
    user: "node:node"
    working_dir: "/srv"
    command: ["yarn", "start"]
    stdin_open: true
    ports:
      - "4435:4435"
    networks:
      - intranet
    restart: on-failure
    environment:
      - PATH=/srv/node_modules/.bin:$PATH
      - PORT=4435
      - KRATOS_BROWSER_URL=http://127.0.0.1:4455/.ory/kratos/public
      - JWKS_URL=http://localhost:4456/.well-known/jwks.json
      - SECURITY_MODE=jwks
    volumes:
      - "./:/srv:delegated"

  kratos:
    depends_on:
      - kratos-migrate
    image: oryd/kratos:latest-sqlite
    ports:
      - "4433:4433" # public
      - "4434:4434" # admin
    restart: unless-stopped
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true
    command:
      serve -c /etc/config/kratos/.kratos.yml --dev
    volumes:
      - type: volume
        source: kratos-sqlite
        target: /var/lib/sqlite
        read_only: false
      - type: bind
        source: ./.kratos/config
        target: /etc/config/kratos
    networks:
      - intranet

  nginx:
    image: "nginx:mainline"
    depends_on:
      - kratos
    ports:
      - 4455:4455
      - 4456:4456
    restart: on-failure
    networks:
      - intranet
    volumes:
      - ./.nginx/nginx.conf:/etc/nginx/conf.d/default.conf

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - "4436:4436"
      - "4437:4437"
    networks:
      - intranet

networks:
  intranet:

volumes:
  kratos-sqlite:
